{% extends 'base.html' %}
{% block content %}

<div class="filter-search">
		<div class="container">
			<form class="filter-form" action="{% url 'search' %}"  method="GET" >
                {% csrf_token %}
				<input type="text" placeholder="Enter a street name, address number or keyword", name="keywords">
                <label>city:</label>
				<select name="city">
					<option value="">------</option>
                    {% for city in cities %}
					<option value="">{{city}}</option>
                    {% endfor %}
				</select>
                <label>state:</label>
				<select name="state">
					<option value="">------</option>
                    {% for state in states%}
					<option value="">{{state}}</option>
                    {% endfor %}
				</select>
				<button class="site-btn fs-submit">SEARCH</button>
			</form>
		</div>
	</div>

<br><br>
<section class="page-section categories-page">
	<div class="container">
		<div class="row">
			{% if query_list %}
			{% for property in query_list %}
			{% include 'partials/_property.html' %}
			{% endfor %}
			{% else %}
			<div class="section-title text-center">
				<h3>No Properties Listings</h3>
			</div>
			{% endif%}
		</div>
	</div>
	</div>
</section>
{% endblock %}