{% extends 'base.html' %}

{% block content %}
<!-- Breadcrumb -->
<br>
<div class="site-breadcrumb">
	<div class="container">
		<a href=""><i class="fa fa-home"></i>Home</a>
		<span><i class="fa fa-angle-right"></i>Featured Listings</span>
	</div>
</div>

<!-- properties -->

<section class="page-section categories-page">
	<div class="container">
		<div class="row">
			{% if properties %}
			{% for property in properties %}
			{% include 'partials/_property.html' %}
			{% endfor %}
			{% else %}
			<div class="section-title text-center">
				<h3>No Properties Listings</h3>
			</div>
			{% endif%}
		</div>

		<!-- site-paginaton -->
		<!--<div class="site-pagination">-->
		<!--<span>1</span>-->
		<!--<a href="#">2</a>-->
		<!--<a href="#">3</a>-->
		<!--<a href="#"><i class="fa fa-angle-right"></i></a>-->
		<!--</div>-->
		<div class="row">
			<div class="col-md-12">
				{% if properties.has_other_pages %}
				<ul class="pagination">
					{% if properties.has_previous %}
					<li class="page-item">
						<a href="?page={{properties.previous_page_number}}" class="page-link">&laquo;</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link">&laquo;</a>
					</li>
					{% endif %}
					{% for i in properties.paginator.page_range %}
					{% if properties.number == i %}
					<li class="page-item active">
						<a class="page-link">{{i}}</a>
					</li>
					{% else %}
					<li class="page-item">
						<a href="?page={{i}}" class="page-link">{{i}}</a>
					</li>
					{% endif %}
					{% endfor %}
					{% if properties.has_next %}
					<li class="page-item">
						<a href="?page={{properties.next_page_number}}" class="page-link">&raquo;</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link">&raquo;</a>
					</li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
		</div>
</section>
{% endblock %}